{% extends 'base.html' %}

{% block content %}

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p><h2>Who am I?</h2></p>
        <h4>소통하며, 천천히 부지런하게 
        앞으로 나아가는 개발자</h4>
        <p>저는 웹페이지 개발과 보안에 관심이 많은 차주한입니다.</p>

        <p> 현재 기본적인 웹의 구조 및 간단한 프론트엔드 개발과</br>Python을 이용한 Django 프레임워크를 통해</br>백엔드를 구축하는 공부를 하고 있습니다.</p>

        <h2>What I can do</h2>
        <p>
          <h5>Develop</h5>
          <ul>
            <li>C</li>
            <li>Java</li>
            <li>HTML</li>
            <li>PHP</li>
            <li>Python</li>
            <li>Django Framework</li>
          </ul>
        </p>
        <p>
          <h5>etc</h5>
          <ul>
            <li>Git</li>
            <li>Notion</li>
            <li>Linux</li>
            <li>MySQL</li>
          </ul>
        </p>
        <p>
          <h2>Contact</h2>
          chajuhan620@gmail.com
        </p>
      </div>
    </div>
  </div>

  <hr>

{% endblock %}