{% extends 'base.html' %}

{% block content %}

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="card">
          <a href="{% url 'index' %}">
            <h2 class="card-body">
              Home
            </h2>
          </a>
        </div>
        <hr>
        <div class="card">
          <a href="{% url 'about' %}">
            <h2 class="card-body">
              About me
            </h2>
          </a>
        </div>
        <hr>
        <div class="card">
          <a href="{% url 'postlist' %}">
            <h2 class="card-body">
              Postlist
            </h2>
          </a>
        </div>
        <hr>
        <div class="card">
          <a href="https://github.com/MurasakiPurki">
            <h2 class="card-body">
              <i class="fab fa-github"></i>
            </h2>
          </a>
        </div>
        <hr>
        <!-- Pager -->
        {% if user.is_authenticated %}
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{% url 'editpost' %}">Edit Posts &rarr;</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>

  <hr>

{% endblock %}  