{% extends 'base.html' %}


{% block content %}

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <form name="signup" id="signupForm" novalidate>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Username</label>
              <input type="text" name="username" class="form-control" placeholder="Username" id="Username">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Password</label>
              <input type="password" name="password" class="form-control" placeholder="Password" id="password">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Confirm Password</label>
              <input type="password" name="cfr_password"class="form-control" placeholder="confirm password" id="confirm_password" >
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <br>
          {% csrf_token %}
          <button type="submit" formmethod="post" class="btn btn-dark" >Sign up</button>
          <button onclick="location.href='{% url 'kakao_sign_up' %}'" type="button" class="btn btn-dark"> Sign up with kakao </button>
        </form>
      </div>
    </div>
  </div>

{% endblock %}